.welcome {
  max-height: 100vh;
  margin-top: 61px;
}
.welcome .main .title {
  font-size: 50px;
  font-weight: bold;
}
.welcome .main .doctor {
  box-shadow: 0px 9px 42px 0 rgba(0, 0, 0, 0.08);
  border-radius: 10px;
}
.welcome .main .doctor img {
  width: 43px;
  height: 43px;
}

.top-services {
  background-color: #e6f6fe;
}
.top-services .service-card {
  background-color: #fff;
  border-radius: 10px;
}

.call-us {
  padding: 100px 50px;
}
.call-us .main .title {
  font-size: 40px;
  font-weight: bold;
}
.call-us .main .input-phone .input-wrapper {
  border: 1px solid #cecece;
  border-radius: 10px 0 0 10px;
}
.call-us .main .input-phone .input-wrapper i {
  color: #cecece;
}
.call-us .main .input-phone .input-wrapper input {
  all: unset;
  width: 100%;
}
.call-us .main .input-phone button {
  border-radius: 0 10px 10px 0;
}

.why-choose {
  background-color: #e6f6fe;
}
.why-choose .main .title {
  font-size: 40px;
  font-weight: bold;
}
.why-choose .main .list-reason i {
  color: #1376f8;
}

.precise-smile {
  padding: 100px 50px;
}
.precise-smile .main .title {
  font-size: 40px;
  font-weight: bold;
}