.welcome {
  max-height: 100vh;
  margin-top: 61px;
  .main {
    .title {
      font-size: 50px;
      font-weight: bold;
    }
    .doctor {
      box-shadow: 0px 9px 42px 0 rgb(0 0 0 / 0.08);
      border-radius: 10px;
      img {
        width: 43px;
        height: 43px;
      }
    }
  }
}

.top-services {
  background-color: #e6f6fe;
  .service-card {
    background-color: #fff;
    border-radius: 10px;
  }
}

.call-us {
  padding: 100px 50px;
  .main {
    .title {
      font-size: 40px;
      font-weight: bold;
    }
    .input-phone {
      .input-wrapper {
        i {
          color: #cecece;
        }
        input {
          all: unset;
          width: 100%;
        }
        border: 1px solid #cecece;
        border-radius: 10px 0 0 10px;
      }
      button {
        border-radius: 0 10px 10px 0;
      }
    }
  }
}

.why-choose {
  background-color: #e6f6fe;
  .main {
    .title {
      font-size: 40px;
      font-weight: bold;
    }
    .list-reason {
      i {
        color: #1376f8;
      }
    }
  }
}

.precise-smile {
  padding: 100px 50px;
  .main {
    .title {
      font-size: 40px;
      font-weight: bold;
    }
  }
}
