.register-page {
  height: 100vh;
  .main {
    height: 90%;
    .img-register {
      height: 100%;
      img {
        height: 95%;
        width: auto;
      }
    }
    .register {
      .title {
        font-size: 40px;
        font-weight: bold;
      }
      .input-register {
        .input-name,
        .input-email,
        .input-password {
          i {
            color: #cecece;
          }
          input {
            all: unset;
            width: 100%;
          }
          border: 1px solid #cecece;
          border-radius: 10px;
        }
      }
    }
  }
}
